@charset "UTF-8";

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: 50px 1fr 1fr 60px / 2% 1fr 2%;
}
header {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%; 
        z-index: 100; 
        display: flex;
        padding: 15px 20px;
}
#topo {
        padding: 10px;
        justify-content: space-between;
}
header {
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 15px 20px; 
}
header img {
        order: 0;
        max-width: 350px;
        min-width: 200px; 
        height: auto;
        display: block;
        flex: 1 1 300px;
}
#logo {
        max-width: 120px;
        height: auto;
}


header nav { 
    display: none !important;
}
    #contato-meio {
        position: static; 
        z-index: auto;
        margin: 30px auto; 
        display: block; 
        width: 80%;

    }
    #principal-fundo {
        margin-top: 0px;
    }
    #principal {
        padding: 0px 30px 50px 30px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    #principal p {
    background-color: transparent; 
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px; 
    }   
    #planos {
        overflow: visible;
        position: static !important;
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px 20px 20px 20px;
        height: auto !important;
        text-align: center;
    }

    .plano {
        margin-bottom: 30px;
    }
    #contato {
        display: none;
    }
    #ccontato-meio {
        display: none;
    }

    #divContainer {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    