@charset "UTF-8";
    header {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%; 
        z-index: 100; 
        display: flex; 
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
    }
    #topo {
        padding: 10px;
        justify-content: space-between;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 15px 20px; 
    }
    header img {
        order: 0;
        max-width: 350px;
        min-width: 200px; 
        height: auto;
        display: block;
        flex: 1 1 300px;
    }
    #logo {
        max-width: 120px;
        height: auto;
    }


    header nav { 
        display: none !important;
    }
    #contato-meio {
        position: static; 
        z-index: auto;
        margin: 30px auto; 
        display: block; 
        width: 80%;

    }
    #principal-fundo {
        margin-top: 0px;
    }
    #principal {
        padding: 0px 30px 50px 30px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    #principal p {
    background-color: transparent; 
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px; 
    }   
    #planos {
        display: block;
        overflow: visible;
        position: static !important;
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px 20px 20px 20px;
        height: auto !important;

    }

    .plano {
        margin-bottom: 30px;
        height: auto;
    }

    .plano1 {
        max-height: 450px;
    }
    .plano3 {
        max-height: 440px;
    }
    #contato {
        display: none;
    }
    #ccontato-meio {
        display: none;
    }